html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #000;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main {
  display: grid;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
}

figure {
  margin: -1rem;
  padding: 1rem;
}

li {
  list-style-type: none;
}

a {
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
  color: #fff;
}
